[submodule "codal-core"]
	path = libraries/codal-core
	url = https://github.com/letssteam/codal-core.git

[submodule "codal-stm32"]
	path = libraries/codal-stm32
	url = https://github.com/letssteam/codal-stm32.git

[submodule "codal-stm32-DISCO_L475VG_IOT"]
	path = libraries/codal-stm32-DISCO_L475VG_IOT
	url = https://github.com/letssteam/codal-stm32-DISCO_L475VG_IOT.git